@using DeliveryApp.Models;
@using DeliveryApp.Data;
@inject SignInManager<ApplicationUser> SignInManager;
@inject UserManager<ApplicationUser> UserManager;
@using Microsoft.AspNetCore.Identity;

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Delivery Fast Food</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <nav class="">


            <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">AppDeliveryFastFood</a>

            <a class="" asp-area="" asp-controller="Home" asp-action="Index">Home</a>


            <a class="" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

                @if(SignInManager.IsSignedIn(User))
               {
                ApplicationUser loggedUser = await UserManager.GetUserAsync(User);

                if(await UserManager.IsInRoleAsync(loggedUser, "SuperAdmin"))
                {
                <a class="" asp-area="" asp-controller="Products" asp-action="Entry">Products</a>
                }  
                }
                
            
            <partial name="_LoginPartial" />
            <button class="" type="button">&equiv;</button>

        </nav>
    </header>
    <div>
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="">
        <div class="">
            &copy; 2022 - AppDeliveryFastFood - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
