@using DeliveryApp.Models;
@using DeliveryApp.Data;
@inject SignInManager<ApplicationUser> SignInManager;
@inject UserManager<ApplicationUser> UserManager;
@using Microsoft.AspNetCore.Identity;

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Delivery Fast Food</title>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>

<body>
    <header>
        <a href="#" class="icon arrow-up" title="Volver al inicio"></a>
        <nav class="">
            <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">AppDeliveryFastFood</a>
            <button id="menu" class="btn btn-warning" type="button">&equiv;</button>
        
        </nav>
            <ul class="menu">
            <li><a class="" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a class="" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
            

                @if(SignInManager.IsSignedIn(User))
               {
                ApplicationUser loggedUser = await UserManager.GetUserAsync(User);

                if(await UserManager.IsInRoleAsync(loggedUser, "SuperAdmin"))
                {
                <li><a class="" asp-area="" asp-controller="Products" asp-action="Entry">Products</a></li>
                }  
                }
                
            <partial name="_LoginPartial" />
            </ul>
    </header>
    
        @*  <main role="main" class="main">
            @RenderBody()
        </main>*@
        @RenderBody()
    
    <footer class="">
        
            &copy; 2022 - AppDeliveryFastFood - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/accordion.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
