@{
    ViewData["Title"] = "Delivery Fast Food";
}


<div class="categorias">

    @*     <h1 class="title">Categorias</h1><br>
    *@
    <ul>
        <li class="categories"><a id="aFood" href="#Foods"><button>Comidas</button></a></li>

        <li class="categories"><a href="#Drinks" id="aDrink"><button>Bebidas</button></a></li>

        <li class="categories"><a href="#Breads" id="aBread"><button>Postres</button></a></li>

    </ul>

</div>


<section id="Foods">

    <a href="" class="Pizzas">
        <article>
            <h2>Pizzas</h2>
        </article>
    </a>

    <a href="" class="Empanadas">
        <article>
            <h2>Empanadas</h2>
        </article>
    </a>

    <a href="" class="Pastas">
        <article>
            <h2>Pastas</h2>
        </article>
    </a>

</section>


<section id="Drinks">

    <a href="" class="">
        <article>
            <h2>Pizzas</h2>
        </article>
    </a>

    <a href="" class="">
        <article>
            <h2>Empanadas</h2>
        </article>
    </a>

    <a href="" class="">
        <article>
            <h2>Pastas</h2>
        </article>
    </a>

</section>

<section id="Breads">
    <a href="">
        <article>
            <h2>Pizzas</h2>
        </article>
    </a>

    <a href="" class="">
        <article>
            <h2>Empanadas</h2>
        </article>
    </a>

    <a href="" class="Pastas">
        <article>
            <h2>Pastas</h2>
        </article>
    </a>
</section>
