@{
        ViewData["Title"] = "Delivery Fast Food";
}
<main class="main">

        <div class="categorias">

                <ul>
                        <li class="categor"><a id="aFood" href="#Foods"><button>Comidas</button></a></li>

                        <li class="categor"><a href="#Drinks" id="aDrink"><button>Bebidas</button></a></li>

                        <li class="categor"><a href="#Breads" id="aBread"><button>Postres</button></a></li>

                </ul>

        </div>

</main>



<div class="content">
        <section id="Foods">

                <ul>
                        <li><a href="" class="Pizzas">
                                        <h2>Pizzas</h2>
                                </a></li>



                        <li><a href="" class="Empanadas">
                                        <h2>Empanadas</h2>
                                </a></li>



                        <li><a href="" class="Pastas">
                                        <h2>Pastas</h2>
                                </a></li>
                </ul>

        </section>


        <section id="Drinks">

                <ul>
                        <li><a href="" class="Wine">
                                        <h2>Vinos</h2>
                                </a></li>



                        <li><a href="" class="Beer">
                                        <h2>Cervezas</h2>
                                </a></li>



                        <li><a href="" class="Soda">
                                        <h2>Gaseosas</h2>
                                </a></li>
                </ul>

        </section>

        <section id="Breads">
                <ul>
                        <li><a href="" class="Flan">
                                        <h2>Flan</h2>
                                </a></li>



                        <li><a href="" class="Brownie">
                                        <h2>Brownie</h2>
                                </a></li>



                        <li><a href="" class="Helado">
                                        <h2>Helado</h2>
                                </a></li>
                </ul>
        </section>
</div>