@{
    ViewData["Title"] = "Delivery Fast Food";
}
<main class="main">

    <div class="categorias">

        <ul>
            <li class="categorias"><a id="aFood" type="button" href="#Foods">Comidas</a></li>

            <li class="categorias"><a href="#Drinks" id="aDrink">Bebidas</a></li>

            <li class="categorias"><a href="#Breads" id="aBread">Postres</a></li>
        </ul>

    </div>

</main>

<div class="content">

    <section id="Foods">
        <a href="" class="Empanadas">
            <h4>Empanadas</h4>
        </a>
    </section>

    <section id="Drinks">
        <a href="" class="Beer">
            <h4>Cervezas</h4>
        </a>
    </section>

    <section id="Breads">
        <a href="" class="Helado">
            <h4>Helado</h4>
        </a>
    </section>

</div>